
	#wrapper {
			  min-height:650px;
			  margin: auto;
			  text-align:center;
			  border:5px outset grey;
			  background: linear-gradient(to right, white, gray);}

	#moves   {width: 150px;
			  font-size:20px;
			  display:block;
			  margin:auto;
			  }

	#wins   {width: 150px;
			  font-size:20px;
			  display:block;
			  margin:auto;}


	img {width:240px;
		height:200px;
		border:5px outset grey;
	    }

	#selene  {
			  display:block;
			 border:2px solid black;
			 margin:auto;
			 font-size:15px;
			 margin-bottom:5px;
			 background-color:rgba(12,75,150,0.3);
			 }

	option {padding:15px;
			background-color:rgba(12,75,150,0.1)}

	#begin  {text-align:center;
			 border:3px outset grey;
			 font-size:20px;
			 margin:auto;
			 margin-bottom:20px;}

	#reset  {text-align:center;
			 border:3px outset grey;
			 font-size:20px;
			 margin:auto;
			 margin-bottom:20px;}

	.miniCont {width:240px;
			 height:200px;
			 margin:10px;
			 display:inline-block;
			 			 }
	.front  {position:absolute;
			 transform: perspective(400px) rotateY(0deg); /*UNNECESSARY ITS 0 BY DEFAULT */
			 background: linear-gradient(to left,white,grey);
			 width:240px;
			 height:200px;
			 backface-visibility: hidden;
			 border:5px outset grey;
			 transition: transform 0.5s linear 0s;}
		
	.back  {position:absolute;
			 transform: perspective(400px) rotateY(180deg);
			 width:240px;
			 height:200px;
			 backface-visibility: hidden;
			 background-color: grey;
			 border:5px outset grey;
			 transition:transform 0.5s linear 0s;}

	.clickedFront {
		    transition:transform 0.5s linear 0s;
		    backface-visibility: hidden;
		    transform: perspective(400px) rotateY(-180deg); /* persp. gives depth to the flipping motion*/
		 	 }

	.clickedBack {
		     transform: perspective(400px) rotateY(0deg);
	         transition:transform 0.5s linear 0s;
	         backface-visibility: hidden;
	         
	     	 } 
	